#features{
    background-color: black;
}
#pleasework{
    color:white;
}
#about{
   /* background:linear-gradient(180deg, #AB939D 0%,#5B5155 23.96%,#080808 44.27%); */
   background-color: whitesmoke;
}
